force-app/main/default/flows/Apply_Loan_Flow_Autolunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>return_value_done</name>
        <label>return value done</label>
        <locationX>526</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>returnValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>value_assignment</name>
        <label>value assignment</label>
        <locationX>719</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>getRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>app_decision</name>
        <label>app decision</label>
        <locationX>1156</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>iterate_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>iterate_loop.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>value_assignment</targetReference>
            </connector>
            <label>Application exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Apply Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Loan Flow Autolunch</label>
    <loops>
        <name>iterate_loop</name>
        <label>iterate loop</label>
        <locationX>792</locationX>
        <locationY>177</locationY>
        <collectionReference>get_all_application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>app_decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>return_value_done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_application</name>
        <label>get all application</label>
        <locationX>414</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_all_application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>returnValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
