force-app/main/default/flows/flow_manager_employee_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>Get_Deportment_Employees</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Increment</name>
        <dataType>Currency</dataType>
        <expression>{!get_employee_record.Salary__c} *1.5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>flow manager employee update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow manager employee update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_employee_record</name>
        <label>get employee record</label>
        <locationX>1110</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>promotion_checkbox_lwc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deportment_Employees.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_new_Employee_record</name>
        <label>Get new Employee record</label>
        <locationX>375</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_employee_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updated_lwc</name>
        <label>updated lwc</label>
        <locationX>807</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Get_new_Employee_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_employee_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>LWC_Down.selectedPromotion</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordUpdates>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>808</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_record</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;{!get_employee_record.Name} has been promoted from {!get_employee_record.Position__c}to {!LWC_Down.selectedPromotion} role&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>promotion_checkbox_lwc</name>
        <label>promotion checkbox lwc</label>
        <locationX>421</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updated_lwc</targetReference>
        </connector>
        <fields>
            <name>LWC_Down</name>
            <extensionName>c:promotionDropdownMenu</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentPosition</name>
                <value>
                    <elementReference>get_employee_record.Position__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_employee</name>
        <label>Search employee</label>
        <locationX>765</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_employee_record</targetReference>
        </connector>
        <fields>
            <name>Department_Name</name>
            <fieldText>&lt;p&gt;{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deportment_Employees</name>
            <choiceReferences>Get_Deportment_Employees</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Deportment Employees</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>972</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Search_employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>displaytemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;{!get_employee_record.Name} has been promoted from {!get_employee_record.Position__c} to {!Get_new_Employee_record.Position__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Department__c</objectType>
    </variables>
</Flow>
